#intro {
    background-color: rgb(189, 244, 225);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, "Helvetica Neue", Helvetica, sans-serif;
    height: 300px;
    width: 600px;
    border-radius: 5%;
    border-color: rgb(151, 235, 207);
    border-style: double;
    border-width: 20;
    color: black;

}


.hero {
    min-height: 100vh;

    background-image: url("bg-img1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 8%;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

.hero-text p {
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
}

.hero-image {
    margin-left: 400px;
}

.hero-image img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    border-style: dotted;
    border-color: #3d2711;
    border-width: 10px;
}

.hero-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.hero-nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    align-self: center;
}

.hero-nav a {
    text-decoration: wavy;
    text-decoration-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: bold;
    transition: ease-in-out 0.3s;
    background-color: #b37563;
    padding: 10px 20px;
    border-radius: 5px;
}